.main-cart {
   display: flex;
   min-height: calc(100vh - 12rem);
}
.cart-right-content {
   width: 40%;
}

.emty-cart {
   width: 50%;
   display: flex;
   justify-content: space-around;
   margin: auto;
   border: 2px solid #f48484;
   align-items: center;
   padding: 4px 10px;
   border-radius: 7px;
   color: #f48484;
   text-transform: capitalize;
   font-size: 1.2rem;
}

.emty-cart p {
   text-align: center;
}

/* mobile responsive */
@media (max-width: 547px) {
   .main-cart {
      flex-direction: column;
      gap: 10px;
   }

   .cart-right-content {
      width: 100%;
      margin-top: 20px;
   }
}

/* tablet responsive */
@media (max-width: 758px) {
   .main-cart {
      padding: 0 2%;
   }

   .cart-right-content {
      min-width: 30%;
   }
}
