nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 90px;
}
.nav-links {
   display: flex;
}

.logo {
   display: flex;
   height: 38;
   width: 100%;
   justify-content: flex-start;
   gap: 5px;
   position: relative;
   max-width: 234px;
}

.logo-img {
   height: 30px;
   width: 55px;
   object-fit: cover;
}

.logo-text {
   height: 35px;
   width: 130px;
   object-fit: cover;
}

.flex {
   display: flex;
   justify-content: space-evenly;
   gap: 10px;
}

.btn-contact {
   background: var(--green);
   border-radius: 7px;
   color: white;
   padding: 0.8rem 1.2rem;
}

.btn-nav {
   background: inherit;
   font-weight: 500;
   padding: 0.8rem 1.1rem;
   word-wrap: inherit;
}

.bar {
   display: none;
}

.logo-mobile {
   display: hidden;
}

.nav-logo span {
   display: none;
}

.list-icons-nav {
   display: none;
}

/* device tabs */
@media (max-width: 820px) {
   nav {
      padding: 0 10px;
   }
   .nav-links {
      max-width: 70%;
   }

   .btn-contact {
      padding: 0.6rem 0.9rem;
   }
}

/* Medium devices (phone, 768px and up) */
@media only screen and (max-width: 576px) {
   .nav-links {
      position: absolute;
      min-height: 80vh;
      width: 100vw;
      align-items: center;
      overflow-x: hidden;
      bottom: 0;
      background: white;
      left: 0;
      transform: translateX(-100%);
      flex-direction: column;
      z-index: 10;
      padding: 35px 0;
      transition: all 0.3s ease-in-out;
   }

   .logo {
      justify-content: center;
   }

   .remove-left {
      transform: translateX(0);
      width: 100%;
      display: flex;
   }

   .list-icons-nav {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
   }

   .nav-links a {
      margin: auto;
      font-weight: 600;
      font-size: 2rem;
   }
   .btn-contact {
      background: inherit;
   }

   .bar {
      display: block;
      background: inherit;
      transition: all;
   }

   .nav-logo {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
   }

   .nav-logo span {
      width: 10%;
      display: block;
   }

   .nav-logo-on-click {
      display: flex;
      justify-content: space-between;
      padding: 0 5%;
      flex-direction: row-reverse;
   }
}
